body {
	
	margin: 25%;
	margin-top: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 11pt;
	line-height: 14pt;
}

img {

	width: 80%;
	height: auto;
	
}

#logo {

	width: 30%;

}

#mediumlogo {
	width: 60%;
}